footer{
    background-color : $black;
    color : $white;
    font-size: .9rem;
}

footer section {
//    border : 1px solid white;
}
footer .container{
    
    padding: 5px 0;
}
footer p{
    margin: 0;
}