//color scheme: https://coolors.co/fdfffc-0c7489-085d3c-c1292e-f4d35e

$white     : #fdfffc;
$green     : #085d3c;
$seaweed   : #0c7489;
$orange    : #c1292e;
$yellow    : #f4d35e;
$black     : #121619;  // rgb 18,22,25
$bluegreen : #08a4bd;


$green-semi : rgba(8,93,60,.8);
$black-semi : rgba(18,22,25,.5);
$yellow-semi : rgba(244,211,94,.8);
