.hero{
    height : 100vh;
}

#hero-homepage{
    background : url(../images/kent_at_sly_park.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#hero-assignments{
    background : url(../images/desk.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
